@font-face {
  font-family: AkkuratPro-Bold;
  font-weight: 400;
  font-style: normal;
  src: local("AkkuratPro-Bold"), url(./AkkuratPro-Bold.woff) format("woff"),
    url(./AkkuratPro-Bold.woff2) format("woff2");
}
@font-face {
  font-family: AkkuratPro-Regular;
  font-weight: 400;
  font-style: normal;
  src: local("AkkuratPro-Regular"), url(./AkkuratPro-Regular.woff) format("woff"),
    url(./AkkuratPro-Regular.woff2) format("woff2");
}
@font-face {
  font-family: Akkurat-Italic;
  font-weight: 400;
  font-style: normal;
  src: local("Akkurat-Italic"), url(./akkurat_italic-webfont.woff) format("woff"),
    url(./akkurat_italic-webfont.woff2) format("woff2");
}
@font-face {
  font-family: Akkurat-Bold;
  font-weight: 400;
  font-style: normal;
  src: local("Akkurat-Bold"), url(./akkurat_bold-webfont.woff) format("woff"),
    url(./akkurat_bold-webfont.woff2) format("woff2");
}
.popup-bg {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  background: rgba(33, 33, 33, 0.94);
  z-index: 100;
}
.popup-window-background {
  background: #88fad6;
  mix-blend-mode: multiply;
}
.popup-background-image,
.popup-window-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.popup-background-image .background-pic,
.popup-background-image img,
.popup-background-image source {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.popup-black-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.78);
}
.popup-window {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 101;
}
@media screen and (max-width: 991px) {
  .popup-window {
    width: 100%;
    max-height: 93%;
    left: 0;
    top: 7%;
  }
}
@media screen and (min-width: 1200px) {
  .popup-window {
    max-height: 93%;
    width: 35%;
    top: 10%;
    left: 32.5%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 993px) {
  .popup-window {
    width: 50%;
    max-height: 93%;
    top: 10%;
    left: 25%;
  }
}
.popup-content {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  z-index: 100000;
}
.popup-content,
.popup-gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.popup-gradient {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(17.89%, #000),
    color-stop(46.77%, rgba(0, 0, 0, 0))
  );
  background: -o-linear-gradient(bottom, #000 17.89%, rgba(0, 0, 0, 0) 46.77%);
  background: linear-gradient(0deg, #000 17.89%, rgba(0, 0, 0, 0) 46.77%);
  height: 100%;
}
.popup-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  right: 3vw;
  top: 2vmin;
  height: 7%;
}
.popup-close img {
  width: 3vmin;
  height: 3vmin;
}
@media screen and (max-width: 767px) {
  .popup-close {
    top: 0;
    right: 10vw;
  }
  .popup-close img {
    width: 5vmin;
    height: 5vmin;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .popup-close {
    top: 0;
  }
  .popup-close img {
    width: 5vmin;
    height: 5vmin;
  }
}
@media screen and (max-width: 1199px) and (min-width: 993px) {
  .popup-close img {
    width: 40px;
    height: 40px;
  }
}
.popup-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2vh 0;
}
.popup-logo img {
  width: 5vh;
  height: 5vh;
}
@media screen and (max-width: 767px) {
  .popup-logo {
    padding: 3vh 0;
  }
}
.email-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: AkkuratPro-Bold;
}
.popup-main-block {
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: -4.5em;
  left: 6.5%;
  border: 2px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 80%;
  width: 87%;
  font-size: 1em;
  letter-spacing: 0.04em;
  font-family: AkkuratPro-Regular;
}
.popup-main-block,
.popup-main-block .email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.popup-main-block .email-form {
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -ms-flex-item-align: end;
  align-self: end;
  padding-bottom: 5%;
}
.popup-main-block form {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.popup-main-block .email-button,
.popup-main-block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.popup-main-block .email-button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  background: #a0ffde;
  border: none;
  min-width: 35%;
  height: 4vh;
  font-size: 1vmax;
  margin-top: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  vertical-align: middle;
}
.popup-main-block .email-button div {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding-top: 1px;
}
.popup-main-block .email-button:active,
.popup-main-block .email-button:focus {
  background-color: #fff;
}
.popup-main-block input[type="email"] {
  width: 58%;
  font-family: AkkuratPro-Regular;
  border: none;
  border-bottom: 2px solid #a0ffde;
  border-radius: 0;
  text-align: center;
  color: #727272;
  background: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.popup-main-block input[type="email"]:active,
.popup-main-block input[type="email"]:focus {
  color: #fff;
}
@media screen and (max-width: 767px) {
  .popup-main-block {
    top: -2.8em;
    height: 77%;
  }
  .popup-main-block form input {
    width: 77%;
  }
  .popup-main-block form .email-button {
    min-width: 47%;
    height: 8.4vw;
    font-size: 4vw;
  }
}
@media screen and (min-width: 1200px) {
  .popup-main-block {
    height: 90%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 993px) {
  .popup-main-block {
    height: 80%;
    top: -4em;
  }
  .popup-main-block .email-button {
    padding: 4% 1%;
    margin-bottom: 2%;
    font-size: 1.7vw;
    min-width: 35%;
  }
  .popup-main-block form {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .popup-main-block {
    height: 80%;
    top: -5em;
  }
  .popup-main-block .email-button {
    margin-top: 3vh;
    font-size: 2.5vh;
    padding: 4% 0;
  }
  .popup-main-block input {
    margin-top: 3vh;
  }
}
.popup-paragraph {
  margin-top: 10%;
  color: #fff;
  font-family: AkkuratPro-Regular;
  font-size: 1.8vmin;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
@media screen and (max-width: 991px) {
  .popup-paragraph {
    font-size: 1.9vh;
  }
}
@media screen and (min-width: 1200px) {
  .popup-paragraph {
    margin-top: 15%;
  }
}
.popup-paragraph-list {
  width: 72%;
}
.popup-paragraph-list li {
  padding-top: 5%;
}
@media screen and (max-width: 767px) {
  .popup-paragraph-list {
    width: 90%;
  }
  .popup-paragraph-list li {
    padding-top: 10%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 993px) {
  .popup-paragraph-list {
    padding-top: 3%;
  }
}
.popup-header {
  color: #fff;
  width: 100%;
  font-family: AkkuratPro-Bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.08em;
  font-size: 1.5vw;
  z-index: 99999;
}
.popup-header div {
  background-color: #152722;
  text-align: center;
  width: 70%;
}
@media screen and (max-width: 767px) {
  .popup-header {
    font-size: 2.4vh;
  }
}
@media screen and (max-width: 1199px) and (min-width: 993px) {
  .popup-header {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .popup-header {
    font-size: 3.5vh;
  }
}
.subscribe-successful {
  color: #fff;
  padding-bottom: 5%;
}
@media screen and (max-width: 767px) {
  .subscribe-successful {
    font-size: 2vh;
  }
}
@media screen and (max-width: 1199px) and (min-width: 993px) {
  .subscribe-successful {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .subscribe-successful {
    font-size: 2vh;
  }
}
.loading-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100vh;
  background: #000;
  z-index: 99999;
  display: -webkit-box;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}
.loading-overlay img {
  width: 50px;
  -webkit-animation: loader 2s ease infinite;
  animation: loader 2s ease infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-name: loader;
  animation-name: loader;
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
body {
  background-color: #000;
  font-family: Akkurat-Bold, sans-serif;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a,
a:active,
a:focus,
a:hover,
button,
button:active,
button:focus,
div[role="button"] {
  outline: none !important;
  text-decoration: none;
}
button,
button:active,
button:focus {
  border: none;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent;
}
.video-block__button:active,
.video-block__button:focus {
  background-color: #fff;
  border: 3px solid #fff;
}
button[role="button"] {
  -webkit-appearance: none;
}
nav {
  min-height: 10vmin;
}
@media screen and (min-width: 992px) {
  .navbar {
    height: 9.25vmin;
  }
  .navbar .logo {
    max-height: 1vmax;
  }
}
.navbar .text-us {
  color: #a0ffde !important;
  padding: 0 10px;
  letter-spacing: 0.135em;
  font-size: 1.1em;
}
.navbar img {
  height: 33px;
}
.navbar .logo {
  min-height: 4.1vmin;
  max-width: 50vw;
}
.nav-link {
  font-size: 90%;
}
.root {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-container {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 0;
}
.main-container .main-content {
  height: 100%;
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 992px) {
  .main-container {
    height: 100%;
  }
}
.video-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid #a0ffde;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .video-block__button {
    width: 31.875vw;
    height: 2em;
    margin: 0;
    letter-spacing: 0.135em;
    font-size: 2.55vw;
  }
}
@media screen and (max-width: 991px) {
  .video-block__button {
    background-color: #a0ffde;
    color: #000;
    line-height: 1rem;
    letter-spacing: 4px;
    font-size: 1rem;
    height: 30%;
  }
}
.outbound-block__header,
.video-block__header {
  letter-spacing: 0.4em;
  white-space: nowrap;
}
@media screen and (min-width: 992px) {
  .outbound-block__header,
  .video-block__header {
    font-size: 6.45vw;
  }
}
@media screen and (min-width: 992px) {
  .outbound-block .outbound-block__header {
    position: absolute;
    left: 0;
    top: 30.5vh;
  }
}
.video-block__header {
  color: #fff;
  margin-left: 1vw;
}
@media screen and (max-width: 991px) {
  .video-block__header {
    text-align: center;
  }
}
.video-block__mobile-description {
  color: #fff;
  display: none;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .video-block__mobile-description {
    display: block;
    letter-spacing: 0.2em;
    font-size: 3vw;
  }
}
.outbound-block,
.video-block {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .outbound-block,
  .video-block {
    min-height: 100%;
  }
}
@media screen and (min-width: 992px) {
  .woman-bg {
    background: url(/woman_background.png) space;
    background-size: cover;
  }
}
@media screen and (min-width: 992px) {
  .black-bg {
    background: url(/black_background.png) space;
    background-size: cover;
  }
}
.button-hover {
  background-color: #a0ffde;
  color: #000;
}
.video-block {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.video-block img {
  max-width: 100%;
}
@media screen and (min-width: 992px) {
  .video-block .video-block__hover-arrea {
    position: absolute;
    width: 80%;
    height: 300%;
    left: 10%;
    top: -75%;
  }
  .video-block .video-block__header-button {
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    top: 30.5vh;
  }
  .video-block .video-block__header-button .video-block__header {
    padding: 15vh 1vw;
  }
  .video-block .video-block__header-button .right-header {
    margin-left: 3.4vw;
    letter-spacing: 0.42em;
  }
  .video-block .video-block__header-button .video-block__button {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -0.6em;
  }
  .video-block .video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }
  .video-block .video video {
    position: absolute;
    min-width: 100%;
    min-height: 101%;
    max-height: 101%;
  }
}
@media screen and (max-width: 991px) {
  .video-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 35vh;
  }
  .video-block,
  .video-block .video-block__header-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .video-block .video-block__header-button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .video-block .video {
    position: static;
    z-index: -1;
    height: 17.47vh;
    min-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .video-block .video video {
    max-width: 100vw;
  }
  .video-block .video-block__header {
    display: none;
  }
  .video-block .video-block__button {
    height: 2.3em;
    width: 54.4vw;
    font-size: 4.3vw;
    margin-bottom: 0.5em;
    letter-spacing: 0.135em;
  }
}
.video-block__mobile-video-header {
  width: 100vw;
}
@media screen and (max-width: 991px) {
  .video-block__mobile-video-header {
    z-index: 10;
  }
}
@media screen and (max-width: 991px) {
  .first-block {
    margin-bottom: 2em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .first-block .video-block__mobile-video-header {
    margin-bottom: 3vh;
  }
  .first-block .video-block__header {
    position: relative;
    top: -8%;
  }
  .first-block .video-block__mobile-header {
    position: relative;
    top: -0.8em;
  }
}
@media screen and (max-width: 991px) {
  .second-block .video-block__header {
    position: relative;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .second-block .video-block__button {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .second-block .video-block__mobile-description {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .second-block .video-block__mobile-video-header {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    margin-top: 3vh;
  }
  .second-block .video-block__mobile-header {
    position: relative;
    bottom: -0.8em;
  }
}
.outbound-block__coming-soon {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  font-size: 1.3vw;
  letter-spacing: 0.2em;
  font-family: Akkurat-Italic, sans-serif;
  width: 17.23vw;
  height: 3.177vw;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .outbound-block__coming-soon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 16.4vw;
    top: 20.74vh;
  }
}
.outbound-block__description {
  color: #000;
  font-size: 1.3vw;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 0 10px;
}
.outbound-block-left,
.outbound-block-right {
  position: absolute;
  margin: 0;
  min-width: 100%;
  right: 0;
  top: 0;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  height: 100%;
}
.outbound-block-left img,
.outbound-block-left picture,
.outbound-block-left source,
.outbound-block-right img,
.outbound-block-right picture,
.outbound-block-right source {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.outbound-block-left {
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
.outbound-block-right {
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}
.outbound-block-left.active,
.outbound-block-right.active {
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
.outbound-block {
  min-width: 100%;
  max-width: 100%;
  z-index: 10;
}
.outbound-block img {
  max-width: 100%;
  min-height: 100%;
}
.outbound-block .outbound-block__description {
  position: relative;
  top: 0.5em;
}
.outbound-block .outbound-block__header {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  letter-spacing: 0.2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 991px) {
  .outbound-block {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .video-block__mobile-header {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .video-block__mobile-video-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 10vw;
    letter-spacing: 0.5em;
  }
  .video-block__mobile-video-header .video {
    display: absolute;
    top: 0;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
  margin-bottom: 5vmin;
}
@media screen and (min-width: 992px) {
  .footer {
    display: none;
  }
}
.footer img {
  height: 10vw;
  width: 10vw;
}
.footer .text-us {
  color: #a0ffde;
  padding: 8px 10px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 4vw;
}
